<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top">
      <h2>Welcome to Gulf Pointe Capital</h2>
      <p>Gulf Pointe Capital serves the equipment financing needs of emerging growth and early stage companies.  We were formed to address one of the most underserved segments of the emerging growth financing market - the need for secured mezzanine-like equipment financing to companies that might not otherwise be ready for traditional bank financing or later stage capital lease financing.</p>
      <p>Our products are designed so that early stage companies with a compelling business model can purchase mission critical capital equipment with structured lease capital and thus preserve their equity capital for funding operations.  We support business strategies by providing a cost effective equipment leasing solution, and we tailor the leasing structures to meet both the financial and equipment application requirements of our valued clients.</p>
      <p>Our clients have found our equipment leasing programs have helped to achieve business goals, improve cash flow and decrease the overall total cost of ownership at a fraction of the cost of traditional equity capital.</p>
    </td>
    <td width="50">&nbsp;</td>
    <td width="168" valign="top" align="center">
      <h2 class="blue">We're Structured<br/>For Your Success</h2>
      <img src="/images/compass_map.jpg"/>
      <p class="small blue">We are a specialty finance firm with a capital structure, capacity and scale to meet your company's unique and changing needs throughout its lifespan.</p>
    </td>
  </tr>
</table>
