<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top" width="100%" style="padding-right: 20px">
      <h2>Lease Products</h2>
      <p>We offer both operating lease and capital lease structures depending on the client's specific credit stage and funding requirements and the type of equipment being purchased. We provide leasing solutions for most capital equipment needs and we can quickly service transactions from $100,000 up to $1.0 million.  Typically, we are the first to provide institutional lease financing to many of our clients.</p>

      <p>We can establish a master lease line of credit up to $1.0 million for current and future equipment acquisitions over a 12 month period. We pride ourselves on timely and professional service. We get to know your company and we will consult with you on what leasing product best suits both the cash flow and equipment requirements of the company. We are with you from the start of the lease to the end of the lease, and often time's clients have found that other services provided by our affiliate, Aspen Capital Group, are useful to their development.</p>

      <p>We are reviewing transactions on a daily basis and have kept a pulse on the strengths and weaknesses of different industries with a specific focus on the technology and medical communities.</p>

    </td>
    <td valign="top" style="padding-right: 20px">
      <h2>&nbsp;</h2>
      <img src="/images/medical.jpg" />
      <h3>Technology Equipment</h3>
      <span class="small">
      Switching Equipment<br/>
      IP-Telephony Systems<br/>
      Cad/Cam Systems<br/>
      File Servers<br/>
      Furniture and Fixtures<br/>
      Office Equipment such as:<br/>
      Workstations, PC Networks, <br/>
      Laptops, Printers, Scanners</span>
    </td>
    <td valign="top">
      <h2>&nbsp;</h2>
      <h3>Medical Equipment</h3>
      <span class="small">CAT Scanners<br/>
      Laboratory Testing Equipment<br/>
      X-Ray Equipment<br/>
      Heart Monitoring Equipment<br/>
      MRI Centers<br/>
      Diagnostic Equipment <br/>
      Research & Development Equipment<br/></span>
      <p><img src="/images/technology.jpg" /></p>
    </td>
  </tr>
</table>
