<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top">
      <h2>Principals</h2>
      <h3 class="blue">Steven C. Jones, Chairman and CEO</h3>
      <p>Mr. Jones is the Chairman and founder of Aspen Capital Group, a leading "Partner Capital" company headquartered in Naples, FL.  Unlike most traditional venture capital firms, Aspen Capital believes its highest value add is to partner with dynamic early stage companies to help them achieve their growth objectives by becoming actively involved with the management teams.</p>
      <p>Mr. Jones has substantial expertise in the building and financing of emerging growth companies, as well as structuring investments to balance the credit stage and financing needs of companies.  In addition to his involvement with Gulf Pointe Capital and the Aspen Capital Group, Mr. Jones is also the Chairman and Founder of T3 Communications, Inc., a successful telecommunications company and he serves on the Board of NeoGenomics, Inc (OTC BB:NGNM.OB) and Disc Motion Technologies.  Prior to his career in structured venture capital, among other positions, Mr. Jones was a Vice President in the Telecommunications, Media and Technology Investment Banking Group of Merrill Lynch &amp; Co in New York and was the chief financial officer of CTC Communications Group in Boston, MA.   Mr. Jones has a BS degree in Computer Engineering from the University of Michigan and an MBA from the Wharton School of the University of Pennsylvania.</p>
    </td>
    <td valign="top" align="center" rowspan="2" style="padding-left: 30px">
      <h2>&nbsp;</h2>
      <img src="/images/globe.jpg"/>
      <p class="quote">No man is wise<br/>
enough by himself</p>
      <p class="quote_cap">Titus Plautus</p>
    </td>
  </tr>
  <tr>
    <td valign="top" style="padding-top: 15px">
      <h3 class="blue">Joseph E. Wold, Jr., President and COO</h3>
      <p>Mr. Wold is a recognized leader in the equipment leasing community. He has over 23 years of experience as both a senior sales executive and a senior credit and operations manager for a variety of companies including Fortune 100 insurance companies, banks, and independent leasing companies.</p>
      <p>Mr. Wold chairs Gulf Pointe's credit committee and has an extensive background in analyzing the credits of both early and later stage companies and has held personal commercial credit authority well into the "7" figures.  He specializes in the commercial equipment leasing industry and is an expert in sales management, credit operations and residual risk management within the leasing community. He is a leading advocate of the benefits of equipment leasing worldwide and has spoken at numerous industry functions on behalf of equipment leasing and its benefits. His current work is heavily concentrated in investment leasing of equipment and new venture leasing projects. Prior to joining Gulf Pointe, Mr. Wold was a Vice President, Credit &amp; Operations at American International Group (AIG), AI Credit Leasing Division, a former Vice President at Societe Generale Bank, US Leasing Division, New York and a Vice President & Eastern Division Manager of Capital Associates International, Inc. He has a BS degree in Business and Finance from the prestigious Jones College and he did his Masters work at the State University of New York, Stony Brook.</p>
    </td>
  </tr>
  <tr>
    <td valign="top" style="padding-top: 15px">
      <h3 class="blue">Peter M Peterson, Managing Partner and Director</h3>
      <p>Mr. Peterson is the Founder and President of Aspen Capital Partners, LLC an advisory firm specializing in capital formation, mergers & acqusitions, divestitures and new business start-ups. Mr. Peterson is also a Managing Director of Pointe Atlantic, Inc, an NASD registered broker-dealer, which is affiliated with Aspen Capital Partners. Mr. Peterson is also the founder of CleanFuel USA and he recently retired as Chairman of Innovative Software Technologies (OTCBB:INIV). He is also a member of the Board of Directors of NeoGenomics, Inc. Prior to forming Aspen Capital Partners, Mr. Peterson was Managing Director of the Investment Banking firm, H.C. Wainwright & Co. Prior to Wainwright, Mr. Peterson was President of First American Holdings and Managing Director of Investment Banking. Previous to First American, he served as Vice President of Investment Banking with Josephthal, Lyons and Ross, Inc. Mr. Peterson earned his Bachelor of Science degree from the University of Florida.</p>
    </td>
  </tr>

</table>
