<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top">
      <h2>The Gulf Pointe Difference</h2>
      <p>Early stage companies come to Gulf Pointe Capital because we have the experience to evaluate, structure, document and fund a lease transaction in a timely manner. We are not a broker - we have our own captive source of funds.  This means we can respond far more quickly to lease proposals than most other venture leasing sources. Once a transaction is approved, we are usually able to document it and make sure the equipment is ordered and paid for within two weeks.  In addition, unlike most other venture leasing firms, we are usually able to structure transactions without the need for personal guarantees, providing that certain credit parameters are met.</p>

      <p>Depending on the situation, we will also consider providing a lease line of credit to service on-going equipment needs as the business grows. Indeed, we prefer to provide follow-on capital to companies that have passed our initial screening process.  In addition, we can also assist our clients, directly or indirectly, by identifying other sources of capital to support their growth. Gulf Pointe is an affiliate of the Aspen Capital Group, which has a wide range of venture capital funds under management. In addition, we can provide introductions to potential strategic partners and make sure equipment is being offered at the best price.</p>

      <p>At Gulf Pointe, our commitment to our clients does not stop after a funding.  We often work with our clients after funding to help them clean up or establish a desirable track record with Dunn &amp; Bradstreet. Many clients find this to be invaluable for obtaining other sources of commercial credit from vendors and banks down the road.</p>

      <p>Gulf Pointe Capital and its affiliates have been fortunate to have funded deals with major investment partners and commercial bank alliances, and we would be happy to provide client references upon request.</p>
    </td>
    <td width="50">&nbsp;</td>
    <td width="168" valign="top" align="center">
      <h2>&nbsp;</h2>
      <img src="/images/tnkey.jpg"/>
      <p class="quote">People forget how <br/>
      fast you did the job <br/>
      but they remember <br/>
      how well you did it.</p>
      <p class="quote_cap">Howard Newton</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p><img src="/images/elfa.jpg" width="121" height="64" /></p>
    </td>
  </tr>
</table>
