<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top">
      <h2>Gulf Pointe's Venture Leasing Criteria</h2>
      <p>Gulf Pointe Capital has developed a focus and made a commitment to helping emerging growth companies leverage their valuable equity capital through sound leasing structures and lending facilities. These unique structures have included warrant and non-warrant solutions and can often be obtained without restrictive liens and covenants.
      Gulf Pointe Capital looks at several key factors in evaluating venture leasing candidates. Two of the main ingredients of a successful new venture are the caliber of the management team and the quality of its financial sponsors. A management team has usually demonstrated prior success in its industry and has experienced executives in key business functions such as sales, marketing, R&amp;D, production and finance. Typically, a good candidate will also have secured at least $1.0 million in equity funding from reputable financial sponsors or venture capital firms.</p>

      <p>During the evaluation process we will also look at the business model and the addressable market of a candidate's products or services. Are the products and/or services necessary, who are the target customers and how large is the potential market? How many competitors are there and what are the barriers to entry? What are the current and projected revenues and expenses?</p>

      <p>If a Company is currently experiencing negative cash flow during a development phase, we will also need to get comfortable that it can become cash flow positive within 12 months.  In this case, the most basic credit question facing our evaluation process is whether there is sufficient cash available to support a significant part of the lease term, and is it likely that the Company can continue to attract additional equity capital.  Most of our earlier stage client companies are in the process of securing additional equity or debt financing from other institutional sources.</p>
    </td>
    <td width="50">&nbsp;</td>
    <td width="168" valign="top" align="center">
      <h2>&nbsp;</h2>
      <img src="/images/keyboard.jpg"/>
      <p class="quote">Far and away the<br/>
      best prize that life<br/>
      offers is the chance<br/>
      to work hard at a<br/>
      job worth doing</p>
      <p class="quote_cap">Theodore Roosevelt</p>
    </td>
  </tr>
</table>
