<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top">
      <h2>Why Leasing?</h2>
      <p>A major government survey found that emerging growth companies are twice as likely to lease their
      business equipment as to purchase it outright. Why? Leasing enables companies to control their
      monthly costs through fixed lease payments and provides these companies with the ability to put
      precious capital to work in more productive areas of the business.</p>

      <p>Companies have also been able to avoid technological obsolescence during a lease term by having the
      ability to manage the asset through a fixed period of time. In addition, a company can avoid traditional
      bank-like covenants by passing the ownership of the equipment to Gulf Pointe Capital.</p>

      <p>By 2005, the overall equipment leasing market for all companies had reached an estimated $230
      Billion dollars, and nearly 80 percent of American companies were leasing some form of essential use
      equipment. Venture leasing has also seen explosive growth.  According to Price Waterhouse Coopers
      Investment Group, venture leasing over the past 10 years has grown from $3 Billion to nearly a $20
      Billion industry.  The only problem with most venture leasing companies is that they will not back earlier
      stage companies.</p>
    </td>
    <td width="50">&nbsp;</td>
    <td width="168" valign="top" align="center">
      <h2>&nbsp;</h2>
      <img src="/images/calc_cash.jpg"/>
      <p class="quote">We are a partnership,<br/> or we are nothing.</p>
      <p class="quote_cap">Woodrow Wilson</p>
    </td>
  </tr>
</table>
