<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Gulf Pointe Capital, LLC - An Investment Leasing Firm</title>
    <style type="text/css" media="screen">
        @import url("/css/style.css");
    </style>
  </head>
  <body id="page-home">
    <div id="page">
      <table id="header" border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td id="logo" valign="top" align="left">
            <img src="/images/logo.gif" alt="Gulf Pointe Capital, LLC - An Investment Leasing Firm"/>
          </td>
          <td id="compass"  valign="top" align="right">
            <img src="/images/compass.gif" alt=""/>
          </td>
        </tr>
      </table>
      <table id="nav" border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td id="nav-home"><a href="/index"><img src="/images/nav/home.jpg" alt="Home"/></a></td>
          <td id="nav-why"><a href="/why_leasing"><img src="/images/nav/why_leasing.jpg" alt="Why Leasing?"/></a></td>
          <td id="nav-lease"><a href="/lease_products"><img src="/images/nav/lease_products.jpg" alt="Lease Produects"/></a></td>
          <td id="nav-diff"><a href="/the_gulf_pointe_difference"><img src="/images/nav/gulf_pointe_diff.jpg" alt="The Gulf Pointe Difference"/></a></td>
          <td id="nav-criteria"><a href="/venture_leasing_criteria"><img src="/images/nav/venture_leasing_criteria.jpg" alt="Venture Leasing Criteria"/></a></td>
          <td id="nav-principals"><a href="/principals"><img src="/images/nav/principals.jpg" alt="Principals"/></a></td>
          <td id="nav-contact"><a href="/contact_us"><img src="/images/nav/contact_us.jpg" alt="Contract Us"/></a></td>
        </tr>
      </table>
      <table id="coins" border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr><td><img src="/images/header.jpg" alt="An investment in knowledge always pays the best interest - Benjamin Franklin"/></td></tr>
      </table>
      <table id="content" border="0" cellspacing="0" cellpadding="0" width="100%">
        <tr>
          <td align="left" width="100%">
            <%= yield %>
          </td>
        </tr>
      </table>
      <table id="footer" border="0" cellspacing="0" cellpadding="5" width="100%">
        <tr>
          <td align="center">&copy; <%= Time.current.year %> Gulf Pointe Capital, LLC.
        </tr>
      </table>
      <p>&nbsp;</p>
    </div>
  </body>
</html>
